body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Verdana;
    font-size: 13px;
}

abbr {
    border-bottom: 1px dotted;
}

#map {
    height: 100%;
    z-index: 1;
}

h1 {
    font-size: 18px;
    margin: 0 0 10px 0;
    padding: 0;
}

p {
    margin: 8px 0 8px 0;
}

#p-options {
    margin: 0;
    padding: 0;
}

#buttons {
    height: 24px;
    position: absolute;
    text-align: center;
    top: 6px;
    right: 10px;
    z-index: 5;
    position: absolute;
    background-color: silver;
    border: 1px;
    width: 24px;
    color: white;
    padding-top: 4px;
}

#buttons a {
    text-decoration: none;
}

#options {
    max-width: 250px;
    position: absolute;
    top: 30px;
    right: 10px;
    z-index: 5;
    background-color: #fff;
    border: 1px solid #999;
    line-height: 20px;
    padding: 10px;
}

#credits {
    font-size: 12px;
    margin-bottom: 0px;
    line-height: 17px;
}

/* Statistika */
#stats-content {
    max-width: 1024px;
    margin: 15px auto 0 auto;
}

#stats-content h1 {
    font-size: 25px;
    color: dodgerblue;
}

#stats-content h2 {
    margin-top: 25px;
}

th {
    width: 200px;
    text-align: left;
}

td {
    text-align: right;
}

.note {
    color: #909090;
}

#years {
    margin-bottom: 15px;
}