body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Verdana;
    font-size: 13px;
}

abbr {
    border-bottom: 1px dotted;
}

#map {
    height: 100%;
    z-index: 1;
}

#options {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}